/* On cache l'input de base */
input[type='checkbox'] {
  display: none;
}

/* Label pour faire le fond */
#labelDarkMode {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 70px;
  height: 70px;
  margin: 20px auto 0 auto;
  background-color: #202A38;
  border-radius: 25px;
  transition: all 400ms ease-out;
  color: #C3EB78;
  font-size: 2rem;
}

input[type="checkbox"]:checked + #labelDarkMode {
  color: #1d5858;
  background: #0C1618;
}
